In [9]:
import pandas as pd

In [25]:
airports_df = pd.read_csv("Data/airports_with_duplicate_and_missing_value.csv")
airports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     7 non-null      object
 1   City     6 non-null      object
 2   Country  7 non-null      object
dtypes: object(3)
memory usage: 296.0+ bytes

In [15]:
# delete the rows with missing values
new_df_with_no_null_values = airports_df.dropna()
new_df_with_no_null_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 6
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   City     6 non-null      object
 2   Country  6 non-null      object
dtypes: object(3)
memory usage: 192.0+ bytes

In [18]:
# instead creating new value (new_df_with_no_null_values), just update the airports_df
airports_df.dropna(inplace=True)
airports_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 6
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   City     6 non-null      object
 2   Country  6 non-null      object
dtypes: object(3)
memory usage: 192.0+ bytes

In [21]:
# remove duplicate value
airports_df.drop_duplicates(inplace=True)
airports_df

             Name       City    Country
0  Soekarno Hatta    Jakarta  Indonesia
1   Sabiha Gokcen   Istanbul     Turkey
2             SSQ  Pekanbaru  Indonesia
5          Haneda      Tokyo      Japan
6          Narita      Tokyo      Japan