In [8]:
import pandas as pd

In [10]:
# if there is extra comma that makes extra value but empty
df = pd.read_csv("Data/airports-with-invalid-rows.csv", error_bad_lines=False)
df

                     Name       City    Country
Soekarno Hatta    Jakarta        NaN  Indonesia
Sabiha Gokcen    Istanbul     Turkey        NaN
SSQ             Pekanbaru  Indonesia        NaN
Minangkabau        Padang  Indonesia        NaN
Haneda              Tokyo      Japan        NaN
Narita              Tokyo      Japan        NaN

In [13]:
# if our data set has no header
df = pd.read_csv("Data/airportsWithoutHeader.csv", header=None, names=["Name", "City", "Country"])
df

             Name       City    Country
0  Soekarno Hatta    Jakarta  Indonesia
1   Sabiha Gokcen   Istanbul     Turkey
2             SSQ  Pekanbaru  Indonesia
3     Minangkabau     Padang  Indonesia
4          Haneda      Tokyo      Japan
5          Narita      Tokyo      Japan

In [19]:
# if there is missing value
df = pd.read_csv("Data/airports-with-missing-value.csv")
df

             Name       City    Country
0  Soekarno Hatta    Jakarta  Indonesia
1   Sabiha Gokcen   Istanbul     Turkey
2             SSQ  Pekanbaru  Indonesia
3     Minangkabau        NaN  Indonesia
4          Haneda      Tokyo      Japan
5          Narita      Tokyo      Japan

In [20]:
df.to_csv("Data/airportsToCsv.csv")

In [21]:
# omit the index
df.to_csv("Data/airportsToCsvOmitIndex.csv", index=False)